{% extends 'main/base.html' %}

{% block content %}
    <h1>{{ls.name}}</h1>
    <form method="post" action="#">
        {% csrf_token %}
        {% for item in ls.item_set.all %}
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    {% if item.complete == True %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}" checked>
                    {% else %}
                        <input type="checkbox", value="clicked", name="c{{item.id}}">
                    {% endif %}
                </div>
            </div>
            <input type="text", value="{{item.text}}", class="form-control">
            <div class="input-group-prepend">
                <button type="submit", name="delItem", value ={{item.id}}, class="btn btn-danger", onclick="return confirm('Are you sure?')">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                        <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
        {% endfor %}

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button type="submit", name="newItem", value="newItem", class="btn btn-success">Add Item</button>
            </div>
            <input type="text", name="new">
        </div>

        <button type="submit", name="save", value="save", class="btn btn-success">Save</button>
    </form>
{% endblock %}